.shake.database
Shake
*.hi
*.o
*.log
*.aux
*.toc
*.bbl
*.blg
*.ptb
*.lof
*.lot
*.out
*.thm
*.errors

*.tex
!thesis.tex
!abstract.tex
!acks.tex
thesis.pdf

Test
Test.hs
Test.pdf

.diagrams_cache
/diagrams/*
/proposal/diagrams/*
/proposal/SpeciesDiagrams.hs
/proposal/proposal.pdf
/proposal/species.*

doi.sty
ntheorem.sty
ntheorem.std